Django==3.2.15
django-filter==21.1
djangorestframework==3.13.1
Markdown==3.3.7
djangorestframework-simplejwt==4.4.0
pyjwt==1.7.1
drf-yasg==1.21.3
psycopg2 == 2.9.3
celery==5.2.6
django-redis==5.2.0
redis==4.3.3celery==5.2.6
django-filter==21.1
django-redis==5.2.0
djangorestframework-simplejwt==4.4.0
drf-yasg==1.21.3
markdown==3.3.7
pip-chill==1.0.1
psycopg2==2.9.3
